.header, 
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: white;
  background-color: rgb(210, 178, 240);
  font-weight: bolder;
}

.header__button {
  margin-left: 15rem;
}

.main {
  padding: 3rem 5rem;
  max-height: max-content;
}

.buttons-store {
  display:flex;
  justify-content: space-around;
  margin-bottom: 2rem;

}

.characters {
  display:flex;
  flex-wrap:wrap;
}

.character {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
}

.character__image {
  width: 13rem;
  height: 13rem;
}

.buttons {
  display:flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.rightAnswers
.wrongAnswers {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1rem;
}


.rightAnswers__answers,
.wrongAnswers__answers {
  display:flex;
  flex-wrap:wrap;
} 

.wrongAnswers__answer,
.rightAnswers__answer {
  margin-right: 1rem;
}

.rightAnswers__image,
.wrongAnswers__image {
  width: 13rem;
  height: 13rem;
}

.button-back {
  margin-top: 1rem;
}