.header, 
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  color: white;
  background-color: rgb(210, 178, 240);
  font-weight: bolder;
}

.main {
  display:flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: 4rem;
}

.character {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid rgb(229, 226, 226);
  border-radius: 0.5rem;
}

.character__image {
  width: 13rem;
  height: 13rem;
  margin-top:2rem;
} 

.buttons {
  display:flex;
  justify-content: space-around;
  width: 30rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.results {
  display:flex;
  flex-direction:column;
  width: 40rem;
}

.results__output{
  align-self:center;
  text-align: center;
  margin: 5rem;
}

.results__buttons {
  display:flex;
  justify-content: space-between;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
}

.answers__info {
  display:flex;
  flex-wrap:wrap;
} 

.character-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  margin-top: 2rem;
}

.character-info__image {
  width: 13rem;
  height: 13rem;
  border-radius: 0.5rem;
}

.button-back {
  margin-top: 1rem;
}